body {
    background-color: black;
}

.rollButton {
    background-color: chartreuse;
    position: relative;
    border-width: 10px;
    border-color: blue;
    border-style:groove; 
    border-radius: 20%;
}

.button {
    background-color: chartreuse;
    position: relative;
    border-width: 10px;
    border-color: blue;
    border-style: groove;
    border-radius: 20%;
}

.darkButton {
    background-color: black;
    position: relative;
    border-width: 10px;
    border-color: white;
    border-style:inset;
    color: white;
    border-radius: 20%;
}

.dice-1 {
    background-color: white;
    position: relative;
    margin-top: 10px;
    border-radius: 20px;
    z-index: 1;
}

.dice-2 {
    background-color: white;
    position: relative;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 20px;
    z-index: 1;
}

.dot-1 {
    background-color: black;
    position: relative;
    top: -120px;
    right: 5px;
    border-radius: 50%;
    z-index: 0;
}

.leftTopLeftDot {
    background-color: black;
    position: relative;
    top: -195px;
    right: 120px;
    border-radius: 50%;
    z-index: 2;
}

.leftMiddleLeftDot {
    background-color: black;
    position: relative;
    bottom: 120px;
    right: 160px;
    border-radius: 50%;
    z-index: 2;
}

.leftBottomLeftDot {
    background-color: black;
    position: relative;
    bottom: 45px;
    right: 200px;
    border-radius: 50%;
    z-index: 2;
}

.leftTopRightDot {
    position: relative;
    background-color: black;
    bottom: 195px;
    right: 90px;

    border-radius: 50%;
    z-index: 2;
}

.leftMiddleRightDot {
    position: relative;
    background-color: black;
    bottom: 120px;
    right: 130px;
    border-radius: 50%;
    z-index: 2;
}

.leftBottomRightDot {
    position: relative;
    background-color: black;
    bottom: 45px;
    right: 170px;

    border-radius: 50%;
    z-index: 2;
}

.rightMiddleDot {
    position: relative;
    background-color: black;
    bottom: 160px;
    left: 245px;
    border-radius: 50%;
    z-index: 0;
}

.rightTopLeftDot {
    position: relative;
    background-color: black;
    bottom: 235px;
    left: 130px;
    border-radius: 50%;
    z-index: 2;
}

.rightMiddleLeftDot {
    position: relative;
    background-color: black;
    bottom: 160px;
    left: 90px;
    border-radius: 50%;
    z-index: 2;
}

.rightBottomLeftDot {
    position: relative;
    background-color: black;
    bottom: 85px;
    left: 50px;
    border-radius: 50%;
    z-index: 2;
}

.rightTopRightDot {
    position: relative;
    background-color: black;
    bottom: 235px;
    left: 160px;
    border-radius: 50%;
    z-index: 2;
}

.rightMiddleRightDot {
    position: relative;
    background-color: black;
    bottom: 160px;
    left: 120px;
    border-radius: 50%;
    z-index: 2;
}

.rightBottomRightDot {
    position: relative;
    background-color: black;
    bottom: 85px;
    left: 80px;
    border-radius: 50%;
    z-index: 2;
}

.container {
    display:flex;
    justify-content: center;
    align-items: center;
}
