body {
    background-color: black;
}

.rollButton {
    background-color: chartreuse;
    position: relative;
    top: 300px;
    left:700px;
    width: 100px;
}

.dice-1 {
    background-color: white;
    position: relative;
    margin-top: 10px;
    border-radius: 20px;
    z-index: 1;
}

.dice-2 {
    background-color: white;
    position: relative;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 20px;
    z-index: 1;
}

.dot-1 {
    background-color: black;
    position: relative;
    top: -120px;
    left: -62.5px;
    border-radius: 50%;
    z-index: 2;
}

.leftTopLeftDot {
    background-color: black;
    position: relative;
    top: -180px;
    right: 160px;
    border-radius: 50%;
    z-index: 2;
}

.leftMiddleLeftDot {
    background-color: black;
    position: relative;
    bottom: 120px;
    right: 200px;
    border-radius: 50%;
    z-index: 2;
}

.leftBottomLeftDot {
    background-color: black;
    position: relative;
    bottom: 60px;
    right: 240px;
    border-radius: 50%;
    z-index: 2;
}

.leftTopRightDot {
    position: relative;
    background-color: lime;

    border-radius: 50%;
    z-index: 2;
}

.container {
    display:flex;
    justify-content: center;
    align-items: center;
}
